/* ----------------------------------------------------------------------------------- */

/* -------------- */
/*     GENERAL    */
/* -------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
}

img {
    width: 100%;
    height: 100%;
}

.disp {
    display:none;
}

#topNavBar {
    display:none!important;
}


    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (max-width: 750px){
        
        #topNavBar {
            display:flex!important;
        }
        
        .undisp {
            display:none;
        }

        #disp {
            display:block;
        }
              

    }
/* ------------------------------------------------- */

/* ------------- */
/*     HEADER    */
/* ------------- */

.sidebar {
    height: 100%;
    width: 25vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgb(2, 45, 59);
    text-align: center;
}

.photo {
    width : 90%;
    margin: 0.5em;
}

h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (max-width: 750px){
        
        .sidebar {
            display : none;
        }
        
        .navbar {
            height: 15vh;
            background-color: rgb(2, 45, 59)!important;
        }

        .photo {
            width: 20vw;
            margin: 0.5em;
        }

    }


/* ------------------------------------------------- */

/* -------------- */
/*      MAIN      */
/* -------------- */

#mainContent {
    margin-left: 15vh;
    background: url(../media/chantier.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    height: 100vh;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}

content {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    width: 100%;
    height:100%;
}

.logoBoxes {
    display: none!important;
}

    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (max-width: 750px){   
        
        #mainContent {
            margin-left: 0;
            align-items: start!important;
        }

        content {
            display: none!important;
        }

        .logoBoxes {
            display:block!important;
            background-color: rgb(2, 45, 59)!important;
            border: 2px white;
        }

    }

/* ------------------------------------------------- */

/* ------------- */
/*     FOOTER    */
/* ------------- */


/* ----------------------------------------------------------------------------------- */