/* ----------------------------------------------------------------------------------- */

/* -------------- */
/*     GENERAL    */
/* -------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
}

img {
    width: 100%;
    height: 100%;
}

#disp {
    display:none;
}

/* .buttonGen {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color:black;
    border: none;    
    text-decoration: none;
    background-color: rgb(253, 229, 9);
    border-radius: 20%/50%;
    height: 2em;
    padding: 0.5em;
    margin: 0.5em;
}

.buttonGen:hover {
    background-color: rgb(163, 150, 34);
} */

    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (max-width: 750px){
        
        /* .buttonGen {
            display : none;
        } */
        
        #undisp {
            display:none;
        }

        #disp {
            display:block;
        }
              

    }
/* ------------------------------------------------- */

/* ------------- */
/*     HEADER    */
/* ------------- */

.sidebar {
    height: 100%;
    width: 15vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgb(2, 45, 59);
    text-align: center;
}

#photo {
    width : 90%;
    margin: 0.5em;
}

h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (max-width: 750px){
        
        .sidebar {
            width: 20vh;
        }     

    }


/* ------------------------------------------------- */

/* -------------- */
/*      MAIN      */
/* -------------- */

#mainContent {
    margin-left: 15vh;
    background: url(../media/chantier.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    height: 100vh;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}
content {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    width: 100%;
    height:100%;
}

    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (max-width: 750px){   
        
        #mainContent {
            margin-left: 20%;
        }

    }

/* ------------------------------------------------- */

/* ------------- */
/*     FOOTER    */
/* ------------- */


/* ----------------------------------------------------------------------------------- */