#mainContent {
    background: url(../media/chantier.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

#wip {
    color: transparent!important;
    background-color: transparent!important;
}