/* ----------------------------------------------------------------------------------- */

/* -------------- */
/*     GENERAL    */
/* -------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
    margin: 0!important;
    padding: 0!important;
}

img {
    width: 100%;
    height: 100%;
}

body {
    
}

.displayDesktop {
    display:none!important;
}


    /* ------------- */
    /*    DESKTOP    */
    /* ------------- */

    @media screen and (min-width: 750px){

        .displayMobile{
            display: none!important;
        }

        .displayDesktop{
            display:flex!important;
        }
              

    }

/* ------------------------------------------------- */

/* ------------- */
/*     HEADER    */
/* ------------- */

header, footer{
    background-color: #003554;
}

#myPhoto{
    width:120px;
}

.logos {
    width:90px;
}

    /* ------------- */
    /*    DESKTOP    */
    /* ------------- */

    @media screen and (min-width: 750px){

        header{
           flex-direction: row!important;
        }

        #myPhoto{
            width:200px;
        }

        .logos {
            width:120px;
        }
        
    }

/* ------------------------------------------------- */

/* -------------- */
/*      MAIN      */
/* -------------- */

/* Présentation */

.aboutMe{
    background-color: #bdc3c6;
}


/* projets */
#myProjects{
    background-color: #91DBF7 ;
}

/* travail */
.myWorkInfos{
    background-color: #006494;
}


    /* ------------- */
    /*    DESKTOP    */
    /* ------------- */

    @media screen and (min-width: 750px){   
        
 

    }

/* ------------------------------------------------- */

/* ------------- */
/*     FOOTER    */
/* ------------- */


    /* ------------- */
    /*    DESKTOP    */
    /* ------------- */

    @media screen and (min-width: 750px){   
        
        .logosBottom {
            width:50px;
        }

    }

/* ----------------------------------------------------------------------------------- */