* {
    margin: 0!important;
    padding: 0!important;
}

.gameRow {
    min-width: 100px;
    border-left : dashed blue ;
    border-right: dashed blue ;
}

.gameBox {
    min-height: 100px;
    border-top: dashed blue;
    border-bottom: dashed blue;
}

.playerOne {
    background-color: red;
    border-radius: 50px;
    height: 100%;
    width: 100%;
}

.playerTwo {
    background-color: yellow;
    border-radius: 50px;
    height: 100%;
    width: 100%;
}

.lobbyBoard {
    min-height: 75vh;
}

#overlay {
    position:fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(255,255,255,0.8) ;
}

#modal {
    max-width: 600px;
    height: 300px;
    margin: auto!important;
    background-color: white;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px!important;
}

@media screen and (max-width: 750px){

    .gameRow {
        min-width: 50px;
    }
    
    .gameBox {
        min-width: 50px;
        min-height: 50px;
        max-width: 50px!important;
    }

    .playerOne {
        border-radius: 25px;
    }
    
    .playerTwo {
        border-radius: 25px;
    }

    .lobbyBoard {
        min-height: 60vh;
    }

}