/* ----------------------------------------------------------------------------------- */

/* -------------- */
/*     GENERAL    */
/* -------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
}

img {
    width: 100%;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: inherit; /* no underline */
}

#disp {
    display:none;
}
    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (max-width: 750px){
        
        #undisp {
            display:none!important;
        }

        #disp {
            display:block;
        }              

    }
/* ------------------------------------------------- */

/* ------------- */
/*     HEADER    */
/* ------------- */



    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (max-width: 750px){
        


    }


/* ------------------------------------------------- */

/* -------------- */
/*      MAIN      */
/* -------------- */
    #resa {
        width: 16vh;
        height: 7.5vh;
        background-color: cadetblue;
    }

    #resaForm{
        width: 60vh;
    }

    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (max-width: 750px){   
        

    }

/* ------------------------------------------------- */

/* ------------- */
/*     FOOTER    */
/* ------------- */



    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (max-width: 750px){   
        

    }

/* ----------------------------------------------------------------------------------- */