body{
    background-size: contain;    
    background-repeat: no-repeat;
    background-position: center;
}

.sideBG {
    background-color: #0A1E32;
}

#head model-viewer {
    height: 30vh;
    position:relative;
    top:100px;

}

#body model-viewer {
    height: 30vh;
    position: relative;
    top:0px;
}

#skel model-viewer{
    height:30vh;
    position: relative;
    top:-100px;
}

.boxesBG{
    height:5vh;
    width: 5vh;
}

#price {
    position: relative;
    top:850px;
}

#BG1 {
    background-image: url('./POCfinal/media/bg1.jpg');
    background-size: contain;
}

#BG2 {
    background-image: url('./POCfinal/media/bg2.jpg');
    background-size: contain;
}

#BG3 {
    background-image: url('./POCfinal/media/bg3.jpg');
    background-size: contain;
}

#BG4 {
    background-image: url('./POCfinal/media/bg4.jpg');
    background-size: contain;
}

#BG5 {
    background-image: url('./POCfinal/media/bg5.jpg');
    background-size: contain;
}

.boxes{
    height:3vh;
    width: 3vh;
}

#mat1{
    background-image: url('./POCfinal/media/bois.png');
    background-position: center;
}

#mat2{
    background-image: url('./POCfinal/media/carbon.png');
    background-position: center;
}

#mat3{
    background-image: url('./POCfinal/media/gold.png');
    background-position: center;
}

#mat4{
    background-image: url('./POCfinal/media/magma.png');
    background-position: center;
}

#mat5{
    background-image: url('./POCfinal/media/metal.png');
    background-position: center;
}

#mat6{
    background-image: url('./POCfinal/media/pierre.png');
    background-position: center;
}

#mat7{
    background-image: url('./POCfinal/media/silver.png');
    background-position: center;
}

#mat8{
    background-image: url('./POCfinal/media/waterm.png');
    background-position: center;
}

